* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-Dark-cyan: hsl(158, 36%, 37%);
  --primary-color-Cream: hsl(30, 38%, 92%);

  --natural-color-Very-dark-blue: hsl(212, 21%, 14%);
  --natural-color-Dark-grayish-blue: hsl(228, 12%, 48%);
  --natural-color-White: hsl(0, 0%, 100%);
  --font-monserrat-medium: 500;
  --font-monserrat-bold-italic: 700;
  --font-fraunces-bold: 700;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--primary-color-Cream);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-card {
  background: var(--natural-color-White);
  border-radius: 0 8px 8px 0;
  padding: 30px;
  margin-top: -3px;
}

.text-card h4 {
  color: var(--natural-color-Dark-grayish-blue);
  font-family: "Montserrat";
  font-weight: var(--font-monserrat-medium);
  letter-spacing: 5.1px;
}

.text-card h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-monserrat-bold-italic);
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px;
}

.mvImgCard {
  width: 100%;
  border-radius: 8px  8px 0 0;
}


.paragraph_text {
  font-size: 14px;
  color: var(--natural-color-Dark-grayish-blue);
  font-family: "Montserrat";
  font-weight: var(--font-monserrat-medium);
  margin: 30px 0 30px 0;
  /* display: block; */
}


.num_price {
  display: flex;
  justify-content: space-evenly;
  margin-top: -24px;
}

.num_text {
  padding-right: 80px;
  font-size: 1.8em;
  color: var(--primary-color-Dark-cyan);
  font-family: "Fraunces";
  font-weight: var(--font-fraunces-bold);
}

.num_err {
  padding: 10px;
  /* margin: 42px 33px 0 0; */
  color: var(--natural-color-Dark-grayish-blue);
  font-size: 0.8em;
}

.style_button {
  margin-left: 5px;
  height: 45px;
  width: 240px;
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: var(--font-monserrat-medium);
  background: var(--primary-color-Dark-cyan);
  color: var(--natural-color-White);
  border-radius: 12px;
}

.img_button {
  margin: -3px 8px;
}

@media (min-width: 768px) {
  .card {
    max-width: 600px;
  }

  .card-body {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    margin-top: 40px;
    /* padding: 22px; */
  }

  .mvImgCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
  }


}

.style_button {
  margin-left: 21px;
}
